Source: gip
Section: gnome
Priority: optional
Maintainer: Ignace Mouzannar <mouzannar@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), intltool, libgtkmm-2.4-dev
Standards-Version: 3.9.2
DM-Upload-Allowed: yes
Vcs-Svn: svn://svn.debian.org/collab-maint/ext-maint/gip/trunk/
Vcs-Browser: http://svn.debian.org/viewsvn/collab-maint/ext-maint/gip/trunk/
Homepage: http://code.google.com/p/gip/

Package: gip
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: IP calculator for GNOME desktop environment
 Gip provides system administrators with tools for IP address based
 calculations. For example, an administrator who needs to find out which IP
 prefix length equals the IP netmask 255.255.240.0, just types in the mask
 and gets the prefix length presented. But many more advanced calculations
 can be made. Gip can convert an address range into a list of prefix lengths.
 It can also split subnets using a given IP netmask or IP prefix length.
 Many more calculations are possible.
